.btn {
  &_rounded {
    font-weight: var(--font-weight-bold);
    font-size: 14px;
    padding: 18px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s;

    &-white {
      color: var(--color-blue-dark);
      background-color: var(--color-white);
      border: 2px solid var(--color-white);

      &:hover,
      &:active {
        background-color: var(--color-blue-dark);
        color: var(--color-blue);
      }
    }

    &-transparent {
      color: var(--color-white);
      background-color: transparent;
      border: 2px solid var(--color-white);
      &:hover,
      &:active {
        color: var(--color-yellow);
        border-color: var(--color-yellow);
        background-color: var(--color-blue-op2);
      }
    }

    &-blue {
      color: var(--color-white);
      background-color: var(--color-blue);
      border: 2px solid var(--color-blue);

      &:hover,
      &:active {
        color: var(--color-blue);
        background-color: var(--color-white);
      }
    }
  }

  &_arrow {
    border: none;
    width: 60px;
    transition: all 0.3s;

    svg {
      fill: var(--color-white);
      width: 100%;
      height: auto;
    }

    &:focus,
    &:hover,
    &:active svg {
      fill: var(--color-yellow);
    }
  }

  &_play {
    width: 93px;
    height: 93px;
    background-color: var(--color-blue-op7);
    border: none;
    box-shadow: 0px 0px 0px 19px var(--color-blue-op2);
    border-radius: 50%;
    position: relative;
    transition: 0.3s background-color;

    &:before {
      content: '';
      width: 34px;
      height: 53px;
      border-left: 3px solid var(--color-white-op7);
      border-radius: 5px;
      position: absolute;
      top: 18px;
      left: 37px;
    }
    &:after {
      content: '';
      position: absolute;
      top: 23px;
      left: 19px;
      width: 42px;
      height: 42px;
      transform: rotate(45deg) skew(-5deg, -5deg);
      border-top: 3px solid var(--color-white-op7);
      border-right: 3px solid var(--color-white-op7);
      border-radius: 5px;
    }

    &:hover,
    &:active {
      background-color: var(--color-blue);
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-name: pulse-shadow;

      &:before,
      &::after {
        border-color: var(--color-white);
      }
    }
  }
  &_close {
    width: 42px;
    height: 42px;
    border: none;
    background-color: var(--color-blue-op7);
    border-radius: 50%;
    transition: 0.3s background-color;

    &:before,
    &:after {
      position: absolute;
      top: 15%;
      left: 50%;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: var(--color-white);
    }

    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }

    &:hover,
    &:active {
      background-color: var(--color-blue);
    }
  }
}
