.footer {
  background-color: var(--color-blue-dark);
  display: flex;
  max-width: 100vw;
  justify-content: space-between;
  padding: 100px;

  span {
    color: var(--color-white);
    font-size: 15px;
  }

  &_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  &_map-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
  }

  &_map-adress {
    display: flex;
    flex-direction: column;
  }

  &_links {
    display: flex;
    justify-content: space-between;
  }

  &_realization {
    align-self: flex-end;
  }

  iframe {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: none;
    margin-top: 30px;
  }

  a {
    font-size: 15px;
    color: var(--color-white);
    text-decoration: none;
    transition: all 0.3s;

    &:hover,
    &:active {
      color: var(--color-yellow);
    }
  }

  @media only screen and (max-width: 1000px) {
    padding: 10px;
    min-height: 100vh;
    &_links {
      flex-wrap: wrap;
    }
  }
}
