:root {
  --backgroud-darkening: rgba(0, 0, 0, 0.5);
  --color-white: rgb(255, 255, 255);
  --color-white-light: #f5f8fa;
  --color-white-op7: rgba(255, 255, 255, 0.7);
  --color-yellow: rgba(255, 255, 25);
  --color-yellow-op: rgba(255, 255, 25, 0.5);
  --color-blue: rgba(0, 182, 220, 1);
  --color-blue-op2: rgba(0, 182, 220, 0.2);
  --color-blue-op7: rgba(0, 182, 220, 0.7);
  --color-blue-dark: #002841;
  --color-red: #ff4148;
  --color-gray: #7b94a5;
  --color-black-light: #333333;

  --body-font: 'Muli';
  --font-weight-normal: 300;
  --font-weight-light: 100;
  --font-weight-bold: 600;
}
